body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
}

h1, h2 {
    color: #333;
}

h3 {
    color: #007BFF;
    transition: transform 0.3s, color 0.3s;
}

h3:hover {
    transform: scale(1.1);
    color: #0056b3;
}

.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    text-decoration: none;
    color: #007BFF;
}

.horizontal-sections {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.section {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 200px; /* Adjust width as needed */
    transition: transform 0.3s, box-shadow 0.3s;
}

.section:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
